torch==2.1.2
torchvision==0.16.2
transformers==4.38.2
einops==0.7.0
Pillow==10.2.0
numpy==1.24.4
h5py==3.9.0
tqdm==4.66.2
wandb==0.16.6

# Check to see that torch version matches the vuild of your driver